.main-header {
  padding-top: 1px;
  background-color: rgba(0,0,128, .9);
  border-left: 5px solid navy;
  border-right: 5px solid navy;
  border-bottom: 20px solid navy;
  width: auto;
  position: relative;
  /* padding: 20px 0; */
  margin: 0 auto;
  margin-bottom: 50px;
  display: block;
}
body {
    background-image: linear-gradient(#8B0000, #7B68EE);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Architects Daughter", Arial, Helvetica, sans-serif;
}


div {
  margin-top: 25px;
  margin-bottom: 35px;
}


.wrapper {
	width: 100%;
	margin: 0 auto;
}

.admire {
  flex: 1;
}

p {
  color: #FFFFFF;
}

blockquote {
  color: #BA324F;
}

li {
  color: white;
}
/* main navigation */
.main-nav {
  display: block;
  list-style-type: none;
  flex: 1;
  margin-bottom: 25px;
  /* justify-content: space-around; */
}

.main-nav > li {
    background-color: navy;
    text-align: center;
    display: inline;
    margin: 10px 10px;
    padding: 20px;
    float: right;
  }

  li a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  a {
    color: #FFFFFF;
  }
  a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: #FFFFFF;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }




  /* Images */
  
.logo {
  padding-top: 20px;
  width: 200px;
}

#maluma {
    border-radius: 55%;
    border: 5px solid navy;
    /* padding: 5px; */
    width: 600px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
}

.home-img {
  display: block;
  margin-left: 375px;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
}
.bio {
  float: left;
  width: 300px;
  margin-top: 5px;
  margin-right: 25px;
  scroll-margin-bottom: 25px;
  /* border: 5px solid navy; */
  box-shadow: 0 0 10px 6px rgba(0,0,0, .5);
}

.mujeres {
  float: right;
  width:600px;
  margin-top: 25px;
  margin-left: 25px;
  scroll-margin-bottom: 35px;
  /* border: 5px solid navy; */
  box-shadow: 0 0 10px 6px rgba(0,0,0, .5);
}

/* grid images*/

.smile {
  width: 500px;
  height: 500px;
}

.long-hair {
  width: 500px;
  height: 500px;
}

.formal {
  width: 500px;
  height: 500px;
}

.gq-style {
  width: 500px;
  height: 500px;
}

.stage {
  width: 500px;
  height: 500px;
}

.telemundo {
  width: 500px;
  height: 500px;
}

.promo {
  width: 500px;
  height: 500px;
}

.mtv {
  width: 500px;
  height: 500px; 
}


/* Container*/
  .container {
     width: 85%;
     margin: 0 auto; 
     border: 2px solid #000080;
     padding: 2% 4%;
     background-color: rgba(0,0,128, .8);
  }




/* Registration form */  

  .registrating {
    color: white;
    text-align: center;
    padding: 2% 4% ;
    border: 8px solid navy;
    margin: 60px;
    margin-bottom: 20px;
    background-size: cover;
    box-shadow: 0 0 10px 6px rgba(0,0,0, .5);
    border-radius: 20px;
  }

  button {
  background-color: #000080;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  input {
    width: 100%;
  }

  input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=text]:focus {
    border: 3px solid #000080;
  }
  input[type=email] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email]:focus {
    border: 3px solid #000080;
  }



/* Footer */
footer {
  background-color: #000080;
  margin: 0 auto; 
  text-align: center;
}





  /*Flex container*/
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: rgb(255, 215, 0, .8);
    
  }
  .flex-container > div {
    margin: 10px;
  }
 

  /*Grid*/
  .grid-container {
  padding: 20px;;
  display: grid;
  background-color: rgb(255, 215, 0, .8);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px 0px;
  box-shadow: 0 0 10px 6px rgba(0,0,0, .5);
}
/*clearfix*/
  .group::after {
    content: "";
    display: table;
    clear: both;
  }

  /*Media Queries*/

  @media only screen and (min-width: ) {
  }